<h2><strong>Welcome to The Colavoravie News</strong></h2>
<p>
    Confirm your account in collaborative news by entering the following link and enter the following confirmation code <br>
    Code: <strong>{{registrationCode}}</strong> <br>
    Link: <a href='{{url}}'>Validate email</a>
</p>